.sidebar-open {
    width: auto;
    max-width: 300px;
    width: 250px !important;
    margin-top: 85px;
}

.sidebar-close {
    margin-top: 70px;
    width: 0 !important;
}

.sidebar {
    height: 87%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 10px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}


.sidebar a.link-active {
    background-color: rgba(66,133,244,0.149);
    border-radius: 0 30px 30px 0;
    color: #105491;
    width: 90%;
}

.sidebar:hover{
    box-shadow: 14px 0px 10px 0px rgba(153,153,153,0.77);
}

.sidebar a:first-child{
    padding-top: 0px !important;
}

.sidebar a:hover {
    color: #105491;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.toggle-btn {
    text-align: center;
    vertical-align: middle;
}

.toggle-btn:hover {
    background-color: #444;
}

.side-header {
    color: black;
    font-size: 25px;
    font-weight: 700;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}