<div class="modal fade" id="signUpPage" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="text-align: center; color: #313131"><b><span
                        class="glyphicon glyphicon-user"></span>Sign Up</b></h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="/action_page.php" style="padding-left: 20px">
                    <div class="form-group sign_up col-md-6" style="padding-left: 40px">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
                    </div>
                    <div class="form-group sign_up col-md-6" style="padding-left: 40px">
                        <label for="age">Age:</label>
                        <input type="number" class="form-control" id="age" name="age" value="10">
                    </div>
                    <div class="form-group sign_up col-md-12 " style="padding-left: 40px; padding-right: 45px">
                        <label for="source">University/Company:</label>
                        <input type="text" class="form-control" id="source" placeholder="Enter University/Company"
                               name="source">
                    </div>
                    <div class="form-group sign_up col-md-6" style="padding-left: 40px">
                        <label for="country">Country:</label>
                        <input type="number" class="form-control" id="name" placeholder="Enter Country" name="country"
                               value="1">
                    </div>
                    <div class="form-group sign_up col-md-6" style="padding-left: 40px">
                        <label for="State">State:</label>
                        <input type="number" class="form-control" id="name" placeholder="Enter State" name="State"
                               value="1">
                    </div>
                    <div class="form-group sign_up col-md-12" style="padding-left: 40px; padding-right: 45px">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address">
                    </div>
                    <div class="form-group sign_up col-md-6" style="padding-left: 40px">
                        <label for="mobile">Mobile:</label>
                        <input type="tel" class="form-control" id="mobile" placeholder="Enter Mobile Number"
                               name="number">
                    </div>
                    <div class="form-group sign_up col-md-6" style="padding-left: 40px">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="name" placeholder="Enter Email ID" name="email">
                    </div>
                    <div class="form-group sign_up col-md-12" style="padding-left: 40px; padding-right: 45px">
                        <label for="uname">Username:</label>
                        <input type="text" class="form-control" id="uname" placeholder="Enter Username" name="username">
                    </div>
                    <div class="form-group sign_up col-md-6" style="padding-left: 40px">
                        <label for="password1">Password:</label>
                        <input type="password" class="form-control" id="password1" placeholder="Enter Password"
                               name="password1">
                    </div>
                    <div class="form-group sign_up col-md-6" style="padding-left: 40px">
                        <label for="password2">Confirm Password:</label>
                        <input type="password" class="form-control" id="password2" placeholder="Confirm Password"
                               name="password2">
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer" style="">
                         <a  class="btn" style="float: left; margin-top: 10px">Sign in Instead</a>
                        <button type="button" class="btn sign-in-btn">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>